.peed{
    padding: 83px 100px 0px 100px !important;
}
.bgcolr{
    background-color:#0B0931;
}
.boi{
    width: 4% !important;
}
.customer{
    font-size: 45px;
    padding: 0px 131px 45px 131px;
}
.para{
    padding-top: 20px;
    padding-bottom: 50px;
}
.cards{
    padding: 0px 131px 0px 131px !important;
}